In [168]:
import pandas as pd

In [169]:
data = pd.read_csv("../data/LogisticGrowthData.csv")
print("Loaded {} columns.".format(len(data.columns.values)))

Loaded 10 columns.

In [170]:
print(data.columns.values)

['X' 'Time' 'PopBio' 'Temp' 'Time_units' 'PopBio_units' 'Species' 'Medium'
 'Rep' 'Citation']

In [171]:
pd.read_csv("../data/LogisticGrowthMetaData.csv")

           Time               Time at which measurement was taken.
0        PopBio                 Population or biomass measurement.
1          Temp  Temperature at which the microbe was grown (de...
2    Time_units                         Units time is measured in.
3  PopBio_units       Units population or biomass are measured in.
4       Species                            Species or strain used.
5        Medium                   Medium the microbe was grown in.
6           Rep                   Replicate within the experiment.
7      Citation   Citation for the paper in which the study was...

In [173]:
data.insert(0, "ID", data.Species + "_" + data.Temp.map(str) + "_" + data.Medium + "_" + data.Citation)

In [183]:
len(data.ID.unique())

285

In [184]:
pt = data[["ID","Time","PopBio"]]

In [185]:
import numpy as np

In [186]:
pt['ID'] = pd.factorize(pt.ID)[0]

/tmp/ipykernel_68652/3574439206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pt['ID'] = pd.factorize(pt.ID)[0]

In [187]:
pt = pt[pt['Time']  > 0 ]
pt = pt[pt['PopBio']  > 0 ]
pt = pt.groupby(['ID']).filter(lambda x: len(x) > 4)
(pt<0).sum()

ID        0
Time      0
PopBio    0
dtype: int64

In [188]:
pt['Log_PopBio'] = np.log(pt['PopBio'])

In [189]:
pt

       ID        Time    PopBio  Log_PopBio
0       0  669.879518  0.283276   -1.261335
1       0  646.987952  0.283342   -1.261100
2       0  622.891566  0.285151   -1.254736
3       0  597.590361  0.281746   -1.266749
4       0  574.698795  0.273117   -1.297856
...   ...         ...       ...         ...
4382  284    0.057355  2.447187    0.894939
4383  284    2.492604  2.327517    0.844802
4384  284    1.743012  2.485061    0.910297
4385  284    0.994529  2.182619    0.780526
4386  284    2.241570  2.923404    1.072749

[4235 rows x 4 columns]

In [190]:
pt.to_csv('../data/test_data.csv')